<div class="article">
  <h1><a href="/articles/<%= @article.id %>"><%= @article.title %></a></h1>
  <h2><a href="/user/<%= @article.user.username %>"><%= @article.user.username %></a></h2>
      <h2><span class="date"><%= Audiotech.DateTime.from_naive(@article.inserted_at) %></span>&mdash;<span class="date"><%= Audiotech.DateTime.from_naive(@article.updated_at) %></span></h2>
  <div>
    <%= @article |> Audiotech.Article.contents %>
  </div>
</div>
<%= if @cuser && (@cuser.id === @article.user_id || @cmod) do %>
  <form method="POST" action="<%= Routes.article_path @conn, :edit, @article.id %>">
      <input name="_csrf_token" type="hidden" value="<%= @token %>">
      <input name="title" value="<%= @article.title %>"><br>
      <textarea rows="24" cols="80" name="content"><%= @article.content %></textarea><br>
      <input type="submit">
  </form>
  <form id="delete-article" method="POST" action="/articles/<%= @article.id %>/delete">
      <input name="_csrf_token" type="hidden" value="<%= @token %>">
      <input type="submit" value="Delete">
  </form>
<% end %>
