<a href="/articles">All Articles</a>
<ol>
  <%= for user <- @users do %>
    <li><a href="/user/<%= user.username %>"><%= user.username %></a></li>
  <% end %>
</ol>
<div>
  <%= if @cuser do %>
    <p>Logged in as <a href="/user/<%= @cuser.username %>"><%= @cuser.username %></a></p>
    <%= if @cmod do %>
      <p>
      <%= @cuser.username %> is a moderator.
      </p>
    <% end %>
  <% end %>
  <form id="terminate" method="POST" action="/terminate">
    <input name="_csrf_token" type="hidden" value="<%= @token %>">
    Terminate Account: <input type="submit" value="Terminate">
  </form>
  <form id="signup" method="POST" action="/signup">
    <input name="_csrf_token" type="hidden" value="<%= @token %>">
    Username: <input name="username"><br>
    Email: <input name="email" type="email"><br>
    Name: <input name="name"><br>
    Password: <input name="password" type="password"><br>
    Confirm: <input name="confirm" type="password"><br>
    Signup: <input type="submit" value="Signup">
  </form>
  <form id="logout" method="POST" action="/logout">
    <input name="_csrf_token" type="hidden" value="<%= @token %>">
    Logout: <input type="submit" value="Logout">
  </form>
  <form id="login" method="POST" action="/login">
    <input name="_csrf_token" type="hidden" value="<%= @token %>">
    Username: <input name="username"><br>
    Password: <input name="password" type="password"><br>
    Login: <input type="submit" value="Login">
  </form>
  <form id="login" method="POST" action="/update">
    <input name="_csrf_token" type="hidden" value="<%= @token %>">
    Username: <input name="username"><br>
    Password: <input name="password" type="password"><br>
    Confirm: <input name="confirm" type="password"><br>
    Update Password: <input type="submit" value="Update Password">
  </form>
</div>
