<h1><a href="/user/<%= @user.username %>"><%= @user.username %></a></h1>
<%= for article <- @user.articles do %>
  <div class="article">
    <h1><a href="/articles/<%= article.id %>"><%= article.title %></a></h1>
    <h2><a href="/user/<%= @user.username %>"><%= @user.username %></a></h2>
    <h2><span class="date"><%= Audiotech.DateTime.from_naive(article.inserted_at) %></span>&mdash;<span class="date"><%= Audiotech.DateTime.from_naive(article.updated_at) %></span></h2>
    <div>
      <%= article |> Audiotech.Article.contents %>
    </div>
  </div>
<% end %>
<%= if @cuser && @cuser.id === @user.id do %>
  <form method="POST" action="/article/create">
    <input name="_csrf_token" type="hidden" value="<%= @token %>">
    <input name="title"><br>
    <textarea rows="24" cols="80" name="content"></textarea><br>
    <input type="submit">
  </form>
<% end %>
